// header
.header {
  background: url('https://raw.githubusercontent.com/Cliff1213/hexw2/master/images/banner.png') no-repeat center;
  background-size: cover;
  height: 100vh;
  // padding: 234px 0 308px; // 308px - 74px（span 多出來的行高）
  &-icons li {
    margin: 0 8px;
    &:hover {
      @include scaleEffect;
    }
  }
}
// about
.about {
  // padding: 56px 0;
  margin: 56px 0;
  &-content {
    max-width: 384px;
  }
  &-exp {
    border-top: 1px solid $dark;
    padding-top: 23px;
    max-width: 384px;
  }
  &-exp li i {
    margin-right: 16px;
  }
}
// brand
.brand {
  padding: 56px 0 160px;
}
// works
.work {
  // padding: 56px 0 144px;
  margin-top: 56px;
  margin-bottom: 144px;
}
// contact
.contact {
  padding: 64px 0;
  a:hover {
    color: $danger;
  }
}
// back2top
.back2top {
  @include back2topStyle;
  transform: translateX(40px);
}
.active {
  transform: translateX(-60px);
}